<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <title>Produtos e categorias</title>
    <h2  class="text-info bg-dark">Produtos e categorias</h2>
</head>
<body>
    <main>
        <b>Escolha uma opção abaixo para ser redirecionado :D</b><br>
        <br>
      <a class="btn btn-primary" href="http://127.0.0.1:8000/produtos/cadastrar/" role="button">Cadastrar novo Produto</a>
      <a class="btn btn-primary" href="http://127.0.0.1:8000/produtos/" role="button">Listar Produtos</a>
      <a class="btn btn-primary" href="http://127.0.0.1:8000/categorias/cadastrar/" role="button">Cadastrar nova Categoria</a>
      <a class="btn btn-primary" href="http://127.0.0.1:8000/categorias/" role="button">Listar Categorias</a>
      <a class="btn btn-primary" href="http://127.0.0.1:8000/produtos/atualizar/" role="button">Atualizar Produto</a>
      <a class="btn btn-primary" href="http://127.0.0.1:8000/produtos/deletar/" role="button">Deletar Produto</a>

      <br>
      <br>
      <p>Obs: Para deletar e atualizar lembre de infomar o ID do produto.</p>

    </main>
    <footer class="text-muted py-5">
        
            <p class="float-end mb-1">
                <p class="mb-1">Desenvolvido por Johnatan e Laís</p>
            </p>


    </footer>
</body>
</html>
