 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <title>Deletar Produto</title>
    <h2  class="p-3 mb-2 bg-danger text-dark ">Deletar Produto</h2>
</head>
<body>
    <main>
        Produto: {{produto.nome}}<br>
        Preço: {{produto.preco}} <br>
        Categoria: {{produto.categorias}}<br>
        <form method="post">
            {% csrf_token %}
            <br>
            <input type="submit" value="Deletar">
         </form>
         
        <br>
    </main>
    <footer class="text-muted py-5">
        
            <p class="float-end mb-1">
                <p class="mb-1">Desenvolvido por Johnatan e Laís</p>
            </p>


    </footer>
</body>
</html>
