<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <title>Listar Produtos</title>
    <h2  class="p-3 mb-2 bg-primary text-white">Listar Produtos</h2>
</head>
<body>
    <main>
    {% for produto in produtos %}
        Produto: {{produto.nome}}<br>
        Preço: {{produto.preco}} <br>
        Categoria: {{produto.categorias}}<br>
        <br>
    {% endfor %}

    <a class="btn btn-primary" href="http://127.0.0.1:8000/produtos/cadastrar/" role="button">Cadastrar novo produto</a>
    <a class="btn btn-primary" href="http://127.0.0.1:8000/" role="button">Inicio</a>
    </main>
    <footer class="text-muted py-5">
        
            <p class="float-end mb-1">
                <p class="mb-1">Desenvolvido por Johnatan e Laís</p>
            </p>


    </footer>
</body>
</html>
